.container {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    min-width: 0;
}

.grid_items {
    flex: 1 0 25%; /* explanation below */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f6fa;
}

.card {
    user-select: none;
}