.box {
    display: flex;
    flex-direction: column;
    border-style: dashed;
    align-items: center;
    margin-top: 25%;
}

.box div {
    width: 100px;
    height: 100px;
}

table th {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.detailed {
    border: solid black;
    border-radius: 5px;
    display: inline-flex;
    margin-top: 10%;
    margin-left: 40%;
    align-items: center;
}
