.box {
    display: flex;
    flex-direction: column;
    border-style: dashed;
    align-items: center;
    margin-top: 25%;
}

.box div {
    width: 100px;
    height: 100px;
}

table th {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

