body {
    background: #f5fbff;
    color: #000000;
}

.trackButton {
    height:100px;
    width:200px;
    font-size:32pt;
}
.trainButton {
    height:100px;
    width:200px;
    font-size:32pt;
    float:right;
}


/*// F1F0EA*/
/*// E8F1F2*/
